:root {
    /* ---CSS Color Variables--- */
    /* Primary Colors */
    --green    : hsl(75, 94%, 57%);
    /* Neutral Colors */
    --white    : hsl(0, 0%, 100%);
    --grey     : hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);

    /* Base Font size */
    font-size: 14px;
}

/* Initialization */
*,
::before,
::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    min-height      : 100vh;
    min-width       : 100vw;
    align-items     : center;
    background-color: var(--off-black);
    color           : var(--white);
    display         : flex;
    flex-direction  : column;
    font-family     : 'Inter', "serief";
    gap             : 2em;
    justify-content : center;
}

.container {
    background-color: var(--dark-grey);
    border-radius   : .5em;
    box-shadow      : 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    height          : 40em;
    padding         : 2em;
    text-align      : center;
    width           : 25em;
}

.profile_photo {
    border-radius: 50%;
    height       : auto;
    margin-bottom: 2em;
    width        : 6.5em;
}

.name {
    font-size    : 1.25em;
    font-weight  : 700;
    margin-bottom: .5em;
}

.location {
    color        : var(--green);
    font-weight  : 600;
    margin-bottom: 2.5em;
}

.overview {
    margin-bottom: 2em;
}

.social_profile_link {
    background-color: var(--grey);
    border-radius   : .5em;
    font-weight     : 600;
    height          : max-content;
    margin-top      : 1em;
    padding         : .75em 0;
    width           : 100%;
}

.social_profile_link:hover {
    background-color: var(--green);
    color           : var(--off-black);
    cursor          : pointer;
    font-weight     : 700;
    transition      : all ease-in-out .2s;
}

.attribution {
    font-size : 1em;
    text-align: center;
}

.attribution a {
    color: hsl(75, 94%, 57%);
}